.section {
  /* height: 100vh; */
  overflow-y: scroll;
  display: flex;
  align-items: center;
}

.container {
  max-width: 1280px;
}

.first_Container {
  width: 41%;
}

.second_container {
  width: 69%;
}

@media (max-width: 768px) {
  .section {
    height: 100vh;
    overflow-y: scroll;
    border: "1px solid red";
  }

  .container {
    max-width: 1280px;
    height: 100%;
    overflow-y: scroll;
    margin: 0 auto;
    padding: 0 0rem;
  }
  .first_Container {
    width: 100%;
  }

  .second_container {
    display: none;
  }
}
