@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: white;
  --background-start-rgb: white;
  --background-end-rgb: white;
}

/* input{
  outline: none !important;
}

input:focus{
  outline: none !important;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  max-width: 3024px;
  margin: 0 auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.rcp {
  border-radius: 0px !important;
}

.rcp-body {
  padding: 10px 0 !important;
  background-color: rgb(44, 44, 44) !important;
}

.rcp-root {
  border-radius: 0px !important;
}

.rcp-interactive {
  border-radius: 0px !important;
}

.rcp-saturation {
  border-radius: 0px !important;
  /* border-radius: 10px 10px 10px 10px !important; */
  height: 210px !important;
}

.rcp-section {
  gap: 15px !important;
  position: relative !important;
  width: 70% !important;
  right: -18% !important;
}

.rcp-hue,
.rcp-alpha {
  height: 9px !important;
}

.rcp-hue-cursor,
.rcp-alpha-cursor {
  /* height: 30px !important;
  width: 30px !important; */
  transform: translate(-15px, -5px) !important ;
}

.rcp-field {
  display: none !important;
}

.rcp-hue-cursor,
.rcp-saturation-cursor {
  cursor: pointer;
}

.rcp-fields {
  display: block !important;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}