.scrollContainer {
  overflow-x: auto;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}

.scrollContainer::-webkit-scrollbar-track {
  background: var(--gray3);
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 6px;
}

.scrollContainer::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 6px;
}