.scroll_container {
    overflow-y: scroll;
  }
  
  .scroll_container::-webkit-scrollbar {
    width: 5px;
  }
  
  .scroll_container::-webkit-scrollbar-track {
    background: var(--gray3);
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 6px;
  }
  
  .scroll_container::-webkit-scrollbar-thumb {
    background: var(--primary3);
    border-radius: 6px;
  }
  