.main_container {
  max-width: 1324px;
  margin: 0 auto;
  margin-left: 260px;
  position: relative;
}

.first_container {
  width: 66%;
}

.second_container {
  width: 33%;
}

.scrollbarElement::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbarElement {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
