.container {
  max-width: 1280px;
}

.first_Container {
  width: 41%;
}

.second_container {
  width: 69%;
}

@media (max-width: 768px) {
  .section {
    border: "1px solid red";
    padding: 0;
    background-image: url("https://buffer.com/library/content/images/2023/10/free-images.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .container {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    padding: 0 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .first_Container {
    width: 100%;
  }

  .second_container {
    display: none;
  }
}
