.first_container {
  width: 66%;
}

.second_container {
  width: 33%;
}

.scrollbarElement {
  overflow-x: scroll;
}

.scrollbarElement::-webkit-scrollbar {
  /* width: 12px; */
  height: 3px;
  width: 95%;
}

.scrollbarElement::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 50px;
  max-width: 90%;
}

.scrollbarElement::-webkit-scrollbar-thumb {
  background: rgba(62, 28, 1, 1);
  height: 3px;
  border-radius: 6px;
}

.scrollbarElement::-webkit-scrollbar-thumb:hover {
  background: #555;
}
